{
  "env": {
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "google"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "indent": ["error", 2],
    "react/prop-types": 0,
    "require-jsdoc": 0
  }
}